<div class="signed-out-wrap">
  <div class="block">
    <div class="signed-out-header">
      <h1>Yeda</h1>

      <p class="cnsl-secondary-text">{{ 'USER.SIGNEDOUT' | translate }}</p>

      <a matTooltip="{{ 'ACTIONS.LOGIN' | translate }}" color="primary" mat-raised-button [routerLink]="['/users/me']">
        <div class="cnsl-action-button">
          <i class="las la-sign-in-alt"></i>
          <span>{{ 'USER.SIGNEDOUT_BTN' | translate }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
